<html>
<head>
  <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  <title>(no subject)</title>
</head>
<body bgcolor="#ffffff" text="#000000">
<meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
<title></title>
<meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
<title></title>
<meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
<title></title>
<table border="0" cellpadding="0" cellspacing="0" height="587" width="100%">
  <tbody>
    <tr>
      <td valign="top" width="1%">
	<img alt="Logo" src="/Clubdata/templates/emails/cefblogo.jpg" border="0" height="78" width="129">
      </td>
      <td colspan="2" bgcolor="#003366" height="1%" valign="top"><br>
      </td>
    </tr>
    <tr>
      <td rowspan="3" bgcolor="#003366" valign="top"><font
 color="#ffffff"><br>
      <font color="#ead22c"><big><a style="color: rgb(255, 187, 0);"
 href="http://www.clubeco.de/">Internet</a><br>
      <br>
      <a style="color: rgb(234, 210, 44);" href="mailto:frado1@gmx.de">E-Mail
an Club</a></big></font> <br>
      </font></td>
      <td valign="top"><br>
      </td>
      <td valign="top"><br>
      </td>
    </tr>
    <tr>
      <td valign="top"><br>
      </td>
      <td valign="top"><br>
      </td>
    </tr>
    <tr>
      <td valign="top"><br>
      </td>
      <td valign="top" width="10%"><br>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
